name: flutterfullscreenpicker
description: A Flutter package that provides a full screen select-like widget, it also provides search functionality 
version: 0.0.1
author: Adedeji Rotibi - <dayjeerow7@gmail.com>
homepage: https://github.com/lhamycodes/flutter_fullscreen_picker

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  uses-material-design: true